#modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 840px) {
  #modal {
    width: 40%;
    height: 30%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1150px) {
  #modal {
    width: 20%;
    height: 20%;
  }
}
